{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Empiricism</title>
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <script src="../static/Scripts/CameraControl.js"></script>
    <script src="../static/Scripts/bundle.js"></script>
    <script src="../static/Scripts/Player.js"></script>
    <script src="../static/Scripts/EnemyGenerator.js"></script>
    <script src="../static/Scripts/Enemy.js"></script>
    <script src="../static/Scripts/Score.js"></script>
    <script src="../static/Scripts/EnterVR.js"></script>
    <script src="/static/Scripts/AudioHandler.js"></script>
    
  </head>

  <body>
    <a-scene physics="debug: false; gravity: 0" enter-vr-mode>
      <a-asset>
       <img id = "skyTexture" src = "../static/Resources/bg.png">
       <a-asset-item id="dome" src="/static/Resources/Dome.glb"></a-asset-item>
      </a-asset>


      <a-mixin id="enemy" enemy static-body></a-mixin>
      <a-mixin id="player-body" dynamic-body="shape: sphere"></a-mixin>

      <a-gltf-model src="#dome" scale="0.08 0.08 0.08"></a-gltf-model>
      <a-cylinder id="ground" radius="52" height="0.1" color="#000000"></a-cylinder>

      <a-entity id="player" collision-able player-body player position="0 3 3">
        <a-camera automove universal-controls>
          <a-cursor intersection-spawn="event: click"></a-cursor>
          <a-text score value="Score : 0" position="0.1 0.5 -1" width="2"></a-text>
          <a-text id="hp" value="HP : 100" position="0.1 0.4 -1" width="2"></a-text>
          
          <audio id="crash" src="/static/Sounds/Crash.mp3"></audio>
          <a-sound src="/static/Sounds/BGM.mp3" autoplay="true" position="0 2 5"></a-sound>
          <a-entity id="audio-handler" audio-handler src="/static/Sounds/Crash.mp3"></a-entity>
        </a-camera>
      </a-entity>

      <a-entity enemy-generator></a-entity>

      <a-link id="link" href="{% url 'main' %}" title="Main" position="0 -5 0" visible="false"></a-link>

    </a-scene>

  </body>
</html>
